@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Lufga Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Regular'), url('../font/lufga/LufgaRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Italic'), url('../font/lufga/LufgaItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Thin'), url('../font/lufga/LufgaThin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Thin Italic'), url('../font/lufga/LufgaThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga ExtraLight'), url('../font/lufga/LufgaExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga ExtraLight Italic'), url('../font/lufga/LufgaExtraLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Light';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Light'), url('../font/lufga/LufgaLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Light Italic'), url('../font/lufga/LufgaLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Medium'), url('../font/lufga/LufgaMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Medium Italic'), url('../font/lufga/LufgaMediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga SemiBold'), url('../font/lufga/LufgaSemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga SemiBold Italic'), url('../font/lufga/LufgaSemiBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Bold'), url('../font/lufga/LufgaBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Bold Italic'), url('../font/lufga/LufgaBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga ExtraBold'), url('../font/lufga/LufgaExtraBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga ExtraBold Italic'), url('../font/lufga/LufgaExtraBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Black';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Black'), url('../font/lufga/LufgaBlack.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Lufga Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Black Italic'), url('../font/lufga/LufgaBlackItalic.woff') format('woff');
    }