/*Header Section*/
/*.bar1{width: 70% !important;}
      .bar2{width: 100% !important;}
      .bar3{width: 60% !important;}*/
/* NAV LINKS COMPRESS ANIM ------------------------------------------------- */
/*Footer Section*/
:root {
	font-size: 10px;
}

html {
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	font-family: $font-family_1;
	font-weight: 400;
	color: $siteBlack;
	line-height: 1.4;
	overflow-x: hidden;
	letter-spacing: 0.5px;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	font-family: $font-family_1;
	font-weight: 400;
	color: $siteBlack;
	line-height: 1.4;
	overflow-x: hidden;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
	outline: none;
	border: 0;

	&:focus {
		text-decoration: none !important;
	}

	&:hover {
		text-decoration: none !important;
	}
}

img {
	text-decoration: none;
	outline: none;
	border: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

p {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

ul {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h1 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h2 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h3 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h4 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h5 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

h6 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

hr {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

figure {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

ol {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

// .container {
// 	max-width: 1200px;
// 	margin: 0px auto;
// 	padding: 0 15px;
// }
// .container-fluid {
// 	max-width: 95%;
// 	margin: 0px auto;
// 	padding: 0 15px;
// }
// .container.small {
// 	max-width: 850px;
// 	padding: 0 20px;
// }
// .container.medium {
// 	max-width: 1000px;
// 	padding: 0 20px;
// }
.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-light {
	font-weight: 300;
}

.text-medium {
	font-weight: 400;
}

.text-bold {
	font-weight: 600;
}

.text-bolder {
	font-weight: 700;
}

.text-black {
	color: $color_2;
}

.text-white {
	color: $color_3;
}

.text-orange {
	color: $color_4;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.img-full {
	width: 100%;
	height: auto;
}

.center-block {
	margin: 0 auto;
}

.bg-white {
	background-color: $background-color_1;
}

.bg-off-white {
	background-color: $background-color_2;
}

.bg-cover {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.visible-md {
	display: none !important;
}

.visible-sm {
	display: none !important;
}

.visible-xs {
	display: none !important;
}

.hidden-xs {
	display: block;
}

.row {
	&:before {
		display: table;
		content: " ";
	}

	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

.clearfix {
	clear: both;
}

.disptable {
	display: table;
	height: 100%;
}

.dispblock {
	display: block;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.Yoverflowhidden {
	overflow-y: hidden;
}

.Xoverflowhidden {
	overflow-x: hidden;
}

.overflowhidden {
	overflow: hidden;
}

section {
	float: left;
	width: 100%;
}

section.padding {
	padding: 70px 0;
}

header {
	width: 100%;
	position: fixed;
	padding: 15px 0;
	z-index: 9;

	.rounded-header {
		width: 80%;
		background-color: $siteBlack; // Black background
		border-radius: 50px; // Rounded corners
		padding: 0.8rem;
		margin: auto;

		@media ($max1024) {
			width: 90%;
		}

		.nav {

			&-links-left,
			&-links-right {
				display: flex;
				gap: 5rem;

				.nav-item {
					.nav-link {
						color: $white;
						font-size: 2rem;
						text-decoration: none;
						padding: 1.6rem 3rem;

						&:hover {
							font-weight: bold;
						}
					}
					&:hover{
						background: $pc;
						border-radius: 66px;
					}
				}
			}
		}

		.logo {
			img {
				max-height: 50px; // Adjust the logo size
			}
		}
	}

}

.call-icon {
	svg {
		width: 20px;
		height: 20px;
		position: relative;
		right: 2px;
		top: 4px;
	}
}

.enquire-btn {
	background-color: $background-color_5;
	color: $color_3 !important;
	font-size: 17px;
	padding: 14px 20px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.eq-height-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.home-banner {
	background: #fff;
}

footer {
	float: left;
	width: 100%;
	color: $color_3;

	a {
		color: $color_3;
	}

	.upper {
		background-color: $background-color_6;
		padding: 10px 0;
	}

	.lower {
		background-color: $background-color_7;
		padding: 10px 0;
		font-size: 12px;
	}
}