$pc: #000057;
$sc: #C5A260;
$white: #fff;
$black: #000;
$color_1: #4d4c4f;
$color_2: #000;
$color_3: #fff;
$color_4: #ee6e25;
$color_5: red;
$color_6: #6b6b6b;
$font-family_1: 'Open Sans', sans-serif;
$background-color_1: #fff;
$background-color_2: #f8f8fa;
$background-color_3: #6b6b6b;
$background-color_4: #efece7;
$background-color_5: #672F90;
$background-color_6: #2b2b2b;
$background-color_7: #121212;
$min_wd : min-width;
$max_wd : max-width;
$imgpath:'../../assets/images';
$max1920 : 'max-width:1920px';
$max1600 : 'max-width:1600px';
$max1440 : 'max-width:1440px';
$max1366 : 'max-width:1366px';
$max1280 : 'max-width:1280px';
$max1024 : 'max-width:1024px';
$max992 : 'max-width:992px';
$max640 : 'max-width:640px';
$max360 : 'max-width:360px';
$min1600 : 'min-width:1600px';
$min1440 : 'min-width:1440px';
$min1366 : 'min-width:1366px';
$min1280 : 'min-width:1280px';
$min1024 : 'min-width:1024px';
$min992 : 'min-width:992px';
$min640 : 'min-width:640px';

